<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Ecofinds | Login</title>
  <link rel="stylesheet" href="/src/static/css/login.css" />
</head>
<body>
  <div class="login-container">
    <div class="login-card">
      <div class="logo-circle">🪴</div>
      <form class="login-form">
        <input type="text" placeholder="Email / Username" required />
        <input type="password" placeholder="Password" required />
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
</html>